<section class="bg-fade-light">
  <div class="wrapper">
    <div class="small-container">
      <div class="signup-intro text-center">
        <h3>Reset Password</h3>
        <!-- <p class="blue">Enter your email address and we would send you a link for you to reset the password or create a
          new one.</p> -->
      </div>

      <div class="signup-content animated fadeInUp">
        <form class="signup-form" #form="ngForm" (ngSubmit)="resetPassword(form.form)">
          <div class="form-field">
            <h4>New Password</h4>
            <input type="password" name="newpass" placeholder="Password" [(ngModel)]="newpass" required="required"
                   #newpassword>
          </div>

          <div class="form-field last">
            <h4>Confirm Password</h4>
            <input type="password" name="confirm_newpass" placeholder="Password" [(ngModel)]="confirm_newpass"
                   required="required" #confirmnewpassword>
          </div>
          <div class="signup-action login">
            <div>
              <button
                [disabled]="!form.valid || submittingResettingPassword || newpassword.value != confirmnewpassword.value"
                class="button">
                <span *ngIf="!submittingResettingPassword">Reset Password</span>
                <span *ngIf="submittingResettingPassword"><i class="fa fa-spinner fa-pulse fa-fw"
                                                             aria-hidden="true"></i></span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
